@import "tailwindcss";

@layer utilities {
  .tail-link {
    @apply text-neon-mid flex flex-row items-center gap-1 my-0 cursor-pointer hover:underline;
  }

  .tail-text-input {
    @apply bg-foreground/[.05] p-2  px-3 rounded-full outline-0;
  }

  .tail-button {
    @apply bg-gradient-to-br from-neon to-neon-sub;
  }

  .tail-button-violet {
    @apply bg-gradient-to-br to-violet-700 from-neon-sub;
  }

  .skeleton {
    @apply bg-gradient-to-r  from-foreground/10 from-[0px] via-foreground/35 via-[40px] to-foreground/10 to-[80px];
    background-size: 300% 100%;
    animation: shimmer 1.6s infinite linear;
  }

  .workspace-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 0.5rem;
  }

  .builder-sidebar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: 1fr;
    gap: 0.5rem;
  }

  .before-dark {
    isolation: isolate;
    background-color: var(--background);
  }

  .before-dark.rounded-none::before {
    border-radius: 0;
  }

  .before-dark:not(.rounded-none)::before {
    @apply rounded-b-md;
  }

  .before-dark:not(.no-before-dark)::before {
    content: " ";
    position: absolute;
    inset: 0;
    background-color: color-mix(in oklab, var(--foreground) 10%, transparent);
    z-index: 0;
    pointer-events: none;
  }

  .animation-logo-2 {
    animation: 5s logo-2 forwards;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  @media (min-width: 640px) {
    .sm\:no-before-dark::before {
      @apply hidden;
    }

    .sm\::before {
      @apply hidden;
    }
  }

  .options-grid-template {
    grid-template-columns: minmax(0, 1fr) minmax(0, 0.4fr) 1.75rem;
  }

  .font-mono {
    font-family: var(--font-fira-code), monospace;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --neon: #1fc4fe;
  --neon-mid: #409efe;
  --neon-sub: #3c9cfc;
  --neon-violet: #5a80fe;
  --neon-violet-sub: #8253fe;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon: var(--neon);
  --color-neon-mid: var(--neon-mid);
  --color-neon-sub: var(--neon-sub);
  --color-neon-violet: var(--neon-violet);
  --color-neon-violet-sub: var(--neon-violet-sub);
  --font-sans: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Remove arrows no Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows no Firefox */
input[type="number"] {
  appearance: textfield;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: inherit;
  opacity: 0.8;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--foreground);
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px var(--background);
  @apply border-1 border-neon-sub;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
    filter: invert(0.3);
  }

  50% {
    filter: invert(0);
  }
  40%,
  100% {
    background-position: -100% 0;
  }

  100% {
    filter: invert(0.3);
  }
}

/* Para navegadores WebKit (Chrome, Safari, Edge, Opera) */
:not(.show-scrollbar)::-webkit-scrollbar {
  width: 0px;
  height: 9px;
}

::-webkit-scrollbar-track {
  @apply bg-foreground/5;
}

::-webkit-scrollbar-thumb {
  @apply bg-foreground/15;
  border-radius: 12px;
  border: 1.8px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-foreground/30;
}

.show-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 9px;
}

@keyframes logo-2 {
  0% {
    transform: translateX(0);
  }
  10%,
  14%,
  20% {
    transform: translateX(1%);
  }

  12%,
  16%,
  22% {
    transform: translateX(-1%);
  }

  24%,
  100% {
    transform: translateX(13%);
  }
}
